@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

.container {
  max-width: 1080px;
  margin: 0px auto;
}

.container_item .container_item_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 0px 0px 20px;
  font-family: Rowdies;
  font-size: 50px;
  font-weight: 700;
  line-height: 150px;
}

.container_item_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.container_item_search .container_item_search_input {
  width: 560px;
}

@media (max-width: 1080px) {
  .container_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container_item .container_item_logo {
    padding: 0px 20px 0px 0px;
    font-family: Rowdies;
    font-size: 50px;
    font-weight: 700;
    line-height: 150px;
  }

  .container_item_search {
    position: absolute;
    top: 250px;
  }
  .container_item_search .container_item_search_input {
    margin: -90px 0px 0px 0px;
    width: 560px;
  }
}
@media (max-width: 600px) {
  .container_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container_item .container_item_logo {
    padding: 0px 20px 0px 0px;
    font-family: Rowdies;
    font-size: 50px;
    font-weight: 700;
    line-height: 150px;
  }

  .container_item_search {
    position: absolute;
    top: 250px;
  }
  .container_item_search .container_item_search_input {
    margin: -90px 0px 0px 0px;
    width: 300px;
  }
}
@media (max-width: 600px) {
  .container_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container_item .container_item_logo {
    padding: 0px 20px 0px 0px;
    font-family: Rowdies;
    font-size: 50px;
    font-weight: 700;
    line-height: 150px;
  }

  .container_item_search {
    position: absolute;
    top: 250px;
  }
  .container_item_search .container_item_search_input {
    margin: -90px 0px 0px 0px;
    width: 150px;
  }
}