@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

.header .header_container {
  height: 150px;
  width: 100%;
  z-index: 1;
  background-color: #E9967A;
}
.header .header_container .header_container_item .header_container_item_logo {
  font-family: Rowdies;
  font-size: 50px;
  line-height: 150px;
  padding: 0px 0px 0px 50px;
  font-weight: 700;
}
.header .header_container .header_container_item .header_input {
  position: absolute;
  z-index: 50;
  line-height: 36px;
  background-color: #B3B6B7;
  width: 600px;
  border-radius: 50px;
  border: 4px solid black;
  padding: 0px 0px 0px 10px;
}
.header .header_container .header_container_item .header_input:focus {
  outline: none;
  background-color: #B3B6B7;
}
.header .header_container .header_container_item .header_input_position {
  margin: -94px 0px 0px 560px;
}