@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

.body_container {
  width: 1500px;
  margin: 0px auto;
}

.header {
  z-index: 1;
}

.header_container_item_logo {
  line-height: 150px;
  font-size: 50px;
  font-family: Rowdies;
  font-weight: 700;
}

.header_input {
  border-radius: 50px;
  height: 35px;
  width: 400px;
}

.header_input_position {
  z-index: 50;
  position: absolute;
  margin: -90px 0px 0px 560px;
}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 400px) {
  .header_container_item_logo {
    font-size: 150px;
    margin: 0px 0px 0px 300px;
  }

  .header_container_item_image {
    margin: 50px 0px 0px 0px;
  }

  .header_input_position {
    margin: 0px 0px 0px 560px;
  }

  .body_container {
    max-width: 400px;
  }
}