@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;700&display=swap');
//---- container
*{
	margin: 0px;
	padding: 0px;
}
body{

}
.body_container{
	width: 1500px;
	margin: 0px auto;
	
}
//---- header
.header{
	
	z-index: 1;
}
.header_container_item_logo{

	line-height: 150px;
 font-size: 50px;
 font-family: Rowdies;
 font-weight: 700;
}
.header_input{
	border-radius: 50px;
	height: 35px;
	width: 400px;
}

.header_input_position{
	z-index: 50;
	position: absolute;
	margin: -90px  0px 0px 560px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.body_container{
		min-width: 600px;
	}
	.header_container_item_logo{
		display: flex;
		justify-content: center;
	}
	.header_input_position{
	margin: 90px  0px 0px 560px;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.body_container{
		min-width: 992;
	}
	.header_input_position{
		margin: -90px  0px 0px 350px;
		width: 450px;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.header_input_position{
		margin: -90px  0px 0px 350px;
		width: 600px;
	}
}