@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
//---- container
*{
	margin: 0px;
	padding: 0px;
}
.container{
	max-width:1080px ;
	margin: 0px auto;


}
.container_item{
	.container_item_logo{
		display: flex;
		justify-content: center;
		padding: 0px 0px 0px 20px;
		font-family: Rowdies;
		font-size: 50px;
		font-weight: 700;
		line-height: 150px;

	}
}
.container_item_search{
	display: flex;
		justify-content: center;
		

	.container_item_search_input {
		font-family: Roboto;
		font-weight: 300;
		padding: 7.5px;
		height: 30px;
		width: 590px;
		border-radius: 15px;
}
.container_item_search {
	width: 100%;
	position: relative;
	display: flex;
  }
  
  .searchTerm {
	width: 250px;
	border: 3px solid black;
	border-right: none;
	padding: 5px;
	height: 20px;
	border-radius: 5px 0 0 5px;
	outline: none;
	color: #9DBFAF;
  }
  
  .searchTerm:focus{
	color: #00B4CC;
  }
  
  .searchButton {
	width: 40px;
	height: 36px;
	border: 1px solid black;
	background: black;
	text-align: center;
	color: #fff;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 20px;
  }
  
	
	}

@media (max-width:1080px) {
	.container_item{
		display: flex;
		justify-content: center;
		.container_item_logo{
			
			padding: 0px 20px 0px 0px;
			font-family: Rowdies;
			font-size: 50px;
			font-weight: 700;
			line-height: 150px;
	
		}
	}
	.container_item_search{
		position:absolute;
		top: 250px;
		
		.container_item_search_input {
			margin: -90px 0px 0px 0px;
			width: 560px;
			height: 35px	;
	}
	}
}
@media (max-width:600px) {
	.container_item{
		display: flex;
		justify-content: center;
		.container_item_logo{
			
			padding: 0px 20px 0px 0px;
			font-family: Rowdies;
			font-size: 50px;
			font-weight: 700;
			line-height: 150px;
	
		}
	}
	.container_item_search{
		position:absolute;
		top: 250px;
		
		.container_item_search_input {
			margin: -90px 0px 0px 0px;
			width: 300px;
			height: 150px;
	}
	}
}
@media (max-width:600px) {
	.container_item{
		display: flex;
		justify-content: center;
		.container_item_logo{
			
			padding: 0px 20px 0px 0px;
			font-family: Rowdies;
			font-size: 50px;
			font-weight: 700;
			line-height: 150px;
	
		}
	}
	.container_item_search{
		.searchTerm{
			width: 120px;
		}
	
	}
}